@font-face {
  font-style: normal;
  font-family: "LatoLight";
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/Lato-Light.ttf") format("truetype"),
    url("../fonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "Lato";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "LatoBold";
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.ttf") format("truetype"),
    url("../fonts/Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "LatoBlack";
  font-display: swap;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.woff2.woff2") format("woff2");
}
