html {
  margin: 0 auto;
  max-width: 1020px;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  background-color: antiquewhite;
}

:root {
  --header-section: #2d303a;
  --header-section-border: #323746;
  --menu-separator: #494e62;
  --phone-section: #f06c64;
  --phone-section-border: #ea676b;
  --white: #ffffff;
  --text-background: #f2f2f2;
  --phone-speaker: #acacac;
  --phone-cam: #eb5055;
  --phone-cam-border: #d8d8d8;
  --phone-button: #fafafa;
  --main-text-header: #666d89;
  --main-text: #767e9e;
  --arrow: #ca4549;
  --phone-button-border: #bababa;
}

header {
  display: flex;
  align-items: center;
  padding: 0 40px 0 40px;
  height: 89px;
  background-color: var(--header-section);
  border-bottom: 6px solid var(--header-section-border);
  color: var(--white);
  font-family: "LatoBold", "Times New Roman", sans-serif;
  text-transform: uppercase;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.logo {
  font-size: 25px;
  display: flex;
  letter-spacing: -0.5px;
}
.navbar {
  font-size: 12px;
  letter-spacing: -0.18px;
}

.navbar > span:before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0·\00a0\00a0\00a0\00a0\00a0\00a0";
  color: var(--menu-separator);
  letter-spacing: -0.26px;
}

.navbar > span:first-child:before {
  content: "";
}

.navbar > span:hover {
  color: var(--phone-section);
  cursor: pointer;

}

.asterisk-color {
  color: var(--phone-section);
}

.section-phones {
  height: 594px;
  background-color: var(--phone-section);
  border-bottom: 6px solid var(--phone-section-border);
}
.section-text {
  height: 496px;
  background-color: var(--text-background);
  border-bottom: 6px solid var(--white);
}
